@model List<CustomerSample.Contracts.Models.CustomerModel>

<table style="width: 100%">

    <tr style="background-color: aqua">
        <th>Name</th>
        <th>Vorname</th>
        <th>Email</th>
    </tr>

    @foreach ( var item in Model )
    {
        <tr>

            <td style="font-weight:bold">@item.Lastname</td>
            <td>@item.FirstName</td>
            <td>@item.Email</td>

        </tr>
    }

</table>