@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">ViewComponent - Sample</h1>
</div>
<br /><br /><br />
@*
	@await Component.InvokeAsync( "CustomerList" )
*@

<vc:customer-list></vc:customer-list>