<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Configure variables -->
	<variable name="applicationIdentifier" value="Your.Application.Name" />
	<!--[VALUE to be filled out!] -->

	<!-- 
	See https://github.com/nlog/nlog/wiki/Configuration-file 
	for information on customizing logging rules and outputs.
	 -->
	<!-- Configure targets -->
	<targets>
		<!-- JSON logfile -->
		<target name="jsonFile"
                type="File" fileName="${basedir}/logs/webs/Your.Application.Name/log-${shortdate}.json"
                keepFileOpen="true"
                concurrentWrites="false"
                encoding="utf-8"
                archiveEvery="Day"
                archiveNumbering="Rolling"
                maxArchiveFiles="30">
			<!--The default value for keeping the log files should be 30 days -->
			<layout type="JsonLayout" includeAllProperties="true" excludeProperties="">
				<attribute name="Timestamp" layout="${date:format=o:universalTime=true}" />
				<attribute name="Level" layout="${level:upperCase=true}" />
				<attribute name="Message" layout="${json-encode:${message}} ${json-encode:${exception:format=ToString,StackTrace}}" />
				<attribute name='Properties' encode="false" >
					<layout type='JsonLayout'>
						<!--The assembly information should only be used within a development environment! -->
						<attribute name="SourceAssemblyName" layout="${SourceAssembly:PropertyName=Name}" />
						<attribute name="SourceAssemblyVersion" layout="${SourceAssembly:PropertyName=Version}" />
						<attribute name="Application" layout="${applicationIdentifier}" />
						<attribute name="ThreadId" layout="${threadname:whenEmpty=${threadId}}" />
						<attribute name="MachineName" layout="${cached:inner=${machinename}}" />
						<attribute name="RequestMethod" layout="${aspnet-request-method}" />
						<attribute name="RequestPath" layout="${aspnet-request-url}" />
					</layout>
				</attribute>
			</layout>
		</target>

		<!-- for additional debugging output -->
		<target name="logconsole" xsi:type="Console" layout="${longdate} ${callsite} ${level} ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Trace" writeTo="jsonFile" />
	</rules>

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

</nlog>