@{
	ViewData["Title"] = "Home Page";

	AddressModel myAddress = new AddressModel
	{
		Name = "Max Muster",
		Street = "Musterstraße 5",
		ZipCode = "12345",
		City = "Musterhausen"
	};
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<custom-address model="myAddress" />
